   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#"></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Recent Changes</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Many choices…<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://stores.ebay.com/CornersBumped-Books-and-Antiques?_rdc=1">eBay</a></li>
                <li><a href="https://github.com/Vaguery">GitHub</a></li>
                <li><a href="http://notrare.tumblr.com">NotRare</a></li>
                <li><a href="https://pinboard.in/u:Vaguery">pinboard.in</a></li>
                <li><a href="https://leanpub.com/pragmaticGP">Pragmatic Genetic Programming</a></li>
                <li><a href="http://notrare.tumblr.com">Scan City</a></li>
                <li><a href="https://twitter.com/Vaguery">Twitter</a></li>
                <li><a href="http://workantile.com">Workantile</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>