<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forking Paths</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/root-app.css" rel="stylesheet">

    <script src="//use.typekit.net/liq0akb.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    {% include 'nav' %}


    <div class="container">
      <form action="/edit" method="post" accept-charset="utf-8">
        <input type="hidden" name="selection" value="arbitrary string">
        <input type="submit" value="Edit!">
      </form>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="col-sm-12">
        <h1>{{headers["title"]}}</h1>
        <p class="text-right">{{headers["date"]}}</p>
        <div id = "md_name" class="text-justify" data-markdown="{{md_name}}">
          {{body}}
        </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>